# Cmake and build dirs
build/
build*/
bin/
lib/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

!Toolchain.cmake
!*.cmake.in

# DDS gen IDL files
dds_generated/
*_PubSubTypes.h
*_PubSubTypes.cxx
*_PubSubTypes.hpp
*_PubSubTypes.py
*_TypeObjectSupport.h
*_TypeObjectSupport.cxx
*_TypeObjectSupport.hpp
*CdrAux.hpp
*CdrAux.ipp
_*Wrapper.so

# Compilation artifacts
*.o
*.obj
*.so
*.a
*.dylib
*.dll
*.exe
*.out

vehicle_rpi_firmware
unittest
SHM_READER
SHM_WRITER
MatlabEprosimaReceiveTest
MatlabEprosimaWriteTest
test_read_content
test_write_content

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Deployment artifacts
stdout_*.txt
stderr_*.txt
*.log

DDS_DOMAIN
DISCOVERY_SERVER
QOS_LOCAL_COMMUNICATION.xml

!QOS_LOCAL_COMMUNICATION.xml.template

# Code ditors
.vscode/
.idea/
.clion/
*.swp
*~
*.user

# OS junk
.DS_Store
Thumbs.db
ehtthumbs.db

# DDS IDL Generation
cpm_lib/include/cpm/dds/
cpm_lib/dds_idl_cpp/
